<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quizizz!</title>
    <link rel="stylesheet" href="static/css/style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- jQuery and Sortable -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <!-- My scripts -->
    <script src="../static/js/create_quest.js" defer></script>
    <script src="../static/js/delete_quest.js" defer></script>

    <!-- If you wanna use jquery ajax -->
    <!-- <script src="../static/js/jquery_ajax/create_questca.js" defer></script>
    <script src="../static/js/jquery_ajax/delete_questca.js" defer></script> -->
</head>
<body>
    <main>
        <div id="questions-block">            
            <button id="add-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add question</button>

            <!-- All created questions block -->
            <div id="created-questions">
                <% if (typeof questionData !== 'undefined' && questionData.length > 0) { %>
                    <% questionData.forEach(function(question) { %>
                        <div class="question">
                            <div class="question-header">
                                <h3 class="question-text"><%=question.questionText %></h3>
        
                                <form action="/" method="post" class="delete-quest-form">
                                    <input type="hidden" name="questionId" value="<%=question.id %>">
                                    <button type="submit" class="delete-quest-button" name="action" value="deleteQuest" data-question-id="<%=question.id %>">Delete question</button>
                                </form>
                            </div>

                            <div class="answers">
                                <p class="answers-text"><%=question.answer1 %></p>
                                <p class="answers-text"><%=question.answer2 %></p>
                                <p class="answers-text"><%=question.answer3 %></p>
                                <p class="answers-text"><%=question.answer4 %></p>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </main>

    <!-- Modal window for questions creating -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create question</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/" class="question-form" method="post">
                        <div id="question-answers-block">
                            <!-- question text -->
                            <p>Question text</p> 
                            <input type="text" maxlength="100" id="questionTextInput" name="questionTextInput">

                            <!-- answers -->
                            <p>Question answers</p>
                            <div class="answer-block">
                                <input type="text" maxlength="100" id="answer1Input" name="answer1Input" class="answer-text-input">
                                <input type="checkbox" name="correctAnswer1" id="correctAnswer1Input" class="correct-answer-checkbox">
                            </div>

                            <div class="answer-block">
                                <input type="text" maxlength="100" id="answer2Input" name="answer2Input" class="answer-text-input">
                                <input type="checkbox" name="correctAnswer2" id="correctAnswer2Input" class="correct-answer-checkbox">
                            </div>

                            <div class="answer-block">
                                <input type="text" maxlength="100" id="answer3Input" name="answer3Input" class="answer-text-input">
                                <input type="checkbox" name="correctAnswer3" id="correctAnswer3Input" class="correct-answer-checkbox">
                            </div>
                            
                            <div class="answer-block">
                                <input type="text" maxlength="100" id="answer4Input" name="answer4Input" class="answer-text-input">
                                <input type="checkbox" name="correctAnswer4" id="correctAnswer4Input" class="correct-answer-checkbox">
                            </div>

                            <p class="error-message"></p>

                            <button type="submit" class="btn btn-primary" name="action" value="createQuest">Create question</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>